[submodule "lvgl"]
	path = lvgl
	url = https://gitcode.com/aiprtem_lvgl/lvgl.git
[submodule "esp-brookesia"]
	path = esp-brookesia
	url = https://github.com/userSywang/esp-brookesia.git
	branch = win32
[submodule "lv_drivers"]
	path = lv_drivers
	url = https://gitcode.com/aiprtem_lvgl/lv_drivers.git
